.css-wn5hww-MuiLineElement-root {
  stroke: #af1e23 !important;
}
.css-14603w2-MuiBarElement-root {
  fill: #af1e23 !important;
}
.main {
  padding: 10px 0 5em 0;
}
Row {
  justify-content: space-between;
  display: flex;
}
.count {
  background-color: #af1e23;
  border-radius: 10px;
  padding: 2em 1em;
  color: white;
  justify-content: space-between;
  display: flex;
  margin: 5px 0px;
}
.icon {
  font-size: 4em;
}
:where(.css-1xg9z9n).ant-row {
    display: flex;
    flex-flow: row wrap;
    gap: 13px !important;;
    min-width: 0;
}
:where(.css-dev-only-do-not-override-1xg9z9n).ant-row {
  justify-content: space-evenly;
}
